* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', Arial;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: #E71D36;
    color: white;
}

.titulo {
    display: flex;
    gap: 1em;
}

.titulo img, footer img {
    height: 80px;
}

h1 {
    font-family: 'Poppins', Arial;
    font-size: 2.5rem;
}

header a {
    font-size: 1.25rem;
    color: white;
    margin-right: 1em;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 2em;
    color: #E71D36;
    font-size: 2rem;
}

.riot {
    gap: 5em;
    display: flex;
    
}

.riot img {
    width: 50%;
}

.empresa-descricao {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1.75rem;
    margin: 0.5em auto;
}

.valorant-container {
 display: flex;
 justify-content: space-evenly;
}

.valorant-container article {
    background-color: #E71D36;
    color: white;
    gap: 2em;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5em 2em;
}

.valorant-container img {
    width: 300px;
}

.valorant-container a {
    color: white;
    margin: 1em;
    font-size: 1.25rem;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
}

form {
    padding: 1em;
}

form input, form button {
    width: 100%;
    padding-top: 0.25em;
    padding-bottom:0.25em;
    padding-right: 2em;
    border-radius: 10px;
    border: 1px solid black;
}

input, textarea {
    display: block;
    margin-bottom: 2em;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
}


form button {
    background-color: #E71D36;
    color: white;
    border: none;
    height: 35px;
    text-align: center;
    font-weight: bold;
}

form button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

input:focus, textarea:focus {
    border: 2px solid #E71D36;
    outline: none;
}

i.fab {
    font-size: 2.5em;
    margin-right: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.youtube:hover {
    color: #FF0000;
}

.facebook:hover{
    color: #1877F2 ;
}

.instagram:hover {
    color: #E4405F;
}

.twitter:hover {
    color:#1DA1F2; 
}

footer {
    display: flex;
    gap: 2em;
    background-color: #E71D36;
    padding: 1.5em;
    align-items: center;
}

footer p {
    color: white;
    font-size: 1.25rem;
}